@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body{
    background: transparent;
    font-family: Inter;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    color: #284480;
}

h1{
    font-size: 14px;
    font-weight: 600;
}

h2{
    font-size: 14px;
    font-weight: 500;
}

h3{
    font-size: 12px;
    font-weight: 600;
}

h4{
    font-size: 14px;
    font-weight: 600;
}

.Radio{
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-image: url('../media/images/Radio.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 1000px;
    overflow-x: hidden;
}

.Screen{
    background-color: rgb(255, 255, 255);
    width: 175px;
    height: 214.5px;
    position: absolute;
    top: 470px;
    left: 110px;
    border-radius: 5px;
}

.Radio-Off{
    background-color: #070608;
    width: 180px;
    height: 237.5px;
    position: absolute;
    top: 450px;
    left: 110px;
    border-radius: 5px;
}

#Buttons button{
    background-color: rgb(36, 57, 116);
    color: white;
    font-size: 12px;
    height: 20px;
    cursor: auto;
}

#Buttons .middle{
    border-right: 1px solid white  !important;
    border-left: 1px solid white !important;
}

#Buttons .small{
    width: 60px;
}

.MenuSelection{
    position: absolute;
    bottom: 250px;
    left: 110px;
    width: 100%;
}

.Menu-Items i{
    color: var(--og-black-text);
    font-size: 22px !important;
    width: 45px;
    height: 35px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Menu-Items .MenuSelected{
    background-color: var(--og-selected-item);
    color: var(--og-white-text);
    border-radius: 5px;
}

.Speaking .Speaking-User{
    margin-top: 5px;
    padding: 0px 5px 0px 5px;
    border: 1px solid #284480;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Speaking .Speaking-FQ{
    border: 1px solid #284480;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 45%;
    position: relative;
}

.Speaking .Speaking-FQ .Speaking-Channel{
    padding: 2px 2px 0px 2px;
}

.Speaking-Catagory{
    border: 1px solid #284480;
    border-bottom: none;
    border-left: none;
    width: 80%;
    padding: 2px 0px 4px 2px;
    bottom: 0;
    position: absolute;
}

.left-btn, .middle-btn, .right-btn{
    content: '';
    width: 35px;
    height: 20px;
    margin-right: 30px;
    background-color: transparent;
    border: none;
}

.Arrows-Up-Down{
    position: absolute;
    bottom: 147.5px;
    left: 177.5px;
    display: flex;
    flex-direction: column;
}

.Arrows-Left-Right{
    position: absolute;
    bottom: 195px;
    left: 140px;
    display: flex;
    flex-direction: row;
}

.up, .down, .left, .right{
    width: 35px;
    height: 20px;
    margin-bottom: 25px;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.left, .right{
    margin-bottom: 0px !important;
}

.left{
    margin-right: 40px;
    margin-bottom: 0px;
}

.Phone{
    position: absolute;
    background-color: transparent;
    bottom: 180px;
    left: 100px;
    display: flex;  
    width: 190px;
}

.Phone button{
    background-color: transparent;
    border: none;
    width: 35px; 
    height: 50px;
    z-index: 1;
}

.minimise{
    position: absolute;
    background-color: transparent;
    top: 310px;
    left: 85px;
    width: 50px;
    height: 40px;
    border: none;
}